@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: radial-gradient(ellipse at top, transparent 0%, #000), radial-gradient(ellipse at bottom, #000, rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #00fffa, #f0f0f0);
}

.title {
  position: absolute;
  color: #fff;
  font-size: 18vmin;
  filter: blur(3px);
  font-family: "SUSE";
  opacity: 0.3;
}

.flower {
  position: absolute;
  bottom: 0;
  height: 40vmin;
  transform-origin: bottom center;
  z-index: 10;
}
.flower--2 {
  transform: rotate(15deg);
  height: 34vmin;
}
.flower--2 .flower__line {
  height: 34vmin;
}
.flower--3 {
  transform: rotate(-21deg);
  height: 30vmin;
}
.flower--3 .flower__line {
  height: 30vmin;
}
.flower--3 .line__leaf--1 {
  transform: rotate(-70deg);
}
.flower__leafs {
  position: relative;
  z-index: 10;
}
.flower__leaf {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5vmin;
  aspect-ratio: 1/2.5;
  border-radius: 50%;
  transform-origin: bottom center;
  background-color: #a7ffee;
  background-image: linear-gradient(to top, #54b8aa, #a7ffee);
  opacity: 0.9;
  box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
}
.flower__leaf::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -100%);
  width: 8vmin;
  height: 8vmin;
  background-color: #6bf0ff;
  filter: blur(10vmin);
}
.flower__leaf--1 {
  z-index: 10;
  transform: translateX(-50%);
}
.flower__leaf--2 {
  transform: rotate(15deg) translateX(-50%);
}
.flower__leaf--3 {
  transform: rotate(-15deg) translate(-50%, -10%);
}
.flower__leaf--4 {
  z-index: 11;
  transform: rotate(-25deg) rotateY(30deg) translate(-50%, -6%);
}
.flower__leaf--5 {
  z-index: 11;
  transform: rotate(25deg) rotateY(30deg) translate(-50%, 10%);
}
.flower__line {
  position: absolute;
  width: 1.5vmin;
  height: 40vmin;
  left: 50%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}

.line__leaf {
  position: absolute;
  left: 0;
  top: 0;
  width: 7vmin;
  height: 7vmin;
  border-radius: 90% 0 90% 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
}
.line__leaf--1 {
  top: 2vmin;
  transform-origin: bottom left;
}
.line__leaf--2 {
  top: 10vmin;
  transform-origin: bottom left;
  transform: rotate(-90deg) scale(1.2);
}
.line__leaf--3 {
  top: 17vmin;
  transform-origin: bottom left;
  transform: scale(1.3);
}

/* HTML: <div class="heart"></div> */
.heart {
  display: inline-block;
  height: 10vmin;
  /* adjust to control the size */
  aspect-ratio: 1;
  vertical-align: middle;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
}

/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) {
  .heart {
    mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%), radial-gradient(at 30% 31%, #000 29%, #0000 30%), conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
  }
}